@model Contracts.ViewModels.Schedule.ActivityDeleteViewModel

<form asp-action="Delete" asp-route-id="@Model.Id">
    <div class="form-group">
        <div class="form-group hide-form">
            <input asp-for="Timestamp" class="form-control" type="hidden" />
            <span asp-validation-for="Timestamp" class="text-danger"></span>

            <input asp-for="Name" class="form-control" type="hidden" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
</form>