@model Contracts.ViewModels.Schedule.ActivityByTeacherEditViewModel
@await Html.PartialAsync("_editPartialByTeacher.cshtml", Model)
<div>
    <a asp-action="Index" asp-route-name="@Model.Teacher">Back to List</a>
</div>