
@model Contracts.ViewModels.Schedule.ActivityByTeacherEditViewModel
@await Html.PartialAsync("_editPartialByTeacher.cshtml", Model) 
<form asp-action="Delete" asp-route-id="@Model.Id" asp-route-teacher="@Model.Teacher"
    asp-route-timestamp="@Model.Timestamp">
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
</form>
<div>
    <a asp-action="Index" asp-route-name="@Model.Teacher">Back to List</a>
</div>