@model Contracts.ViewModels.Schedule.ActivityByRoomEditViewModel
@await Html.PartialAsync("_editPartialByRoom.cshtml", Model)
@await Html.PartialAsync("../Shared/_deletePartial.cshtml", new Contracts.ViewModels.Schedule.ActivityDeleteViewModel() { Id = Model.Id.Value, Name = Model.Room, Timestamp = Model.Timestamp})
<div>
    <a asp-action="Index" asp-route-name="@Model.Teacher">Back to List</a>
</div>